<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-inverse" style="background-color: aquamarine; padding-bottom: 10px; margin-bottom:7%">
        <div class="container-fluid">
            <div class="navbar-header text-center" style="padding-left:0%;">
                <a class="navbar-brand text-center" href="" style="font-size:28px">Clo-Insta
                </a>
            </div>
            <!-- 
                  -->



        </div>
    </nav>
    <!-- Adding a search form  -->

    <!-- search form end -->
</body>

</html>