<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-inverse" style="background-color: aquamarine; padding-bottom: 10px; margin-bottom:opx">
        <div class="container-fluid">
            <div class="navbar-header text-center" style="padding-left:0%;">
                <a class="navbar-brand text-center" href="" style="font-size:28px">Clo-Insta
                </a>
            </div>
            <!-- 
                  -->
            <form class="navbar-form" role="search" action="{% url 'search_results' %}">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search users" name="category">
                    <div class="input-group-btn">
                    </div>
                </div>

            </form>
            <a href=""><img src="media/Screenshot 2020-11-21 at 09.16.46.png" alt=""> Home</a>
            <a href="">Messages</a>
            <a href="">Reels</a>
            <a href="">Activity</a>
            <a href="">Profile</a>

        </div>
    </nav>
    <!-- Adding a search form  -->

    <!-- search form end -->
</body>

</html>